<footer class="bg-black c-white text-center">
  <p>2023 &copy; ADRAR Classrooms. Tous droits réservés.</p>
  <a id="back_to_top" href="#logo_site"><img src="{{ asset('icons/chevron-haut.png') }}" alt="Retourner en haut du site" /></a>
</footer>
